<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.github.tpc"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />

    <application android:icon="@drawable/icon" android:label="@string/calculator_name">
        <activity android:name=".CalculatorActivity" android:label="@string/calculator_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".ScoreBoardActivity" android:label="@string/scoreboard_name"/>
		<activity android:name=".HelpActivity" android:label="@string/help_name"/>
		<activity android:name=".AboutActivity" android:label="@string/about_name"/>
    </application>
</manifest>